body {
    background: #D1D1D1;
}
a {
    text-decoration: none;
    color: #000
}
div.textBox{
    display: block;
    background-color: #EEE;
    margin: 10px 500px 10px 100px;
    padding: 10px 60px;
}

img {
    width:100%;
    display: block;
    margin: 0 auto;
}

div.sideBox {
    display: block;
    position: fixed;
    background-color: #EEE;
    margin: 10px;
    padding: 10px 100px 10px 20px;
    right: 100px;
}

ul.sideBox {
    list-style-type: none;
}

p.indent {
    text-indent: 50px;
}